.hero-section {
    background-blend-mode: multiply;
    background-color: rgb(101, 133, 34);
    background-image: url("assets/background-photo-houses.jpg");
    border-radius: 0;
}

.brand-logo-home {
    font-family: 'Rowdies', cursive;
    color: #00351D;
}

.main-title-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0D0D0D;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #0D0D0D;
}

.paragraph {
    font-family: 'Raleway', sans-serif;
    color: #0D0D0D;
}

.footer-main {
    background-color: #01403A;
    height: 100px;
}

.btn-primary {
    background-color: #F22E52;
    border-width: 0px;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #0D0D0D;
}

.list-paragraph {
    margin-bottom: 0.2rem;
}